In [1]:
import pandas as pd

In [23]:
demographics = pd.read_csv('../data/demographics.csv', na_values = ['-2222', '-2222.2', '-2', '-9999'])
causes = pd.read_csv('../data/leading_causes_of_death.csv', na_values = ['-2222', '-2222.2', '-2', '-9999'])

In [24]:
causes.replace(to_replace = [-1111, -1111.1, -1], value = 0, inplace = True)
demographics.replace(to_replace = [-1111, -1111.1, -1], value = 0, inplace = True)

In [36]:
causes.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,F_Bl_Cancer,CI_Min_F_Bl_Cancer,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span
0,1,1,Autauga,Alabama,AL,29,0.0,0.0,0.0,0.0,...,19.0,14.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1999-2003
1,1,3,Baldwin,Alabama,AL,16,57.0,39.0,75.0,0.0,...,20.0,15.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,2001-2003
2,1,5,Barbour,Alabama,AL,51,0.0,0.0,0.0,0.0,...,26.0,22.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,1999-2003
3,1,7,Bibb,Alabama,AL,42,0.0,0.0,0.0,0.0,...,20.0,14.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-2003
4,1,9,Blount,Alabama,AL,28,34.0,17.0,52.0,0.0,...,28.0,10.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,1999-2003

In [106]:
# select necessary columns
causes_regex = ('CHSI_County_Name|'
                'CHSI_State_*?|'
                '^[a-zA-Z]+_[a-zA-Z]+_Comp|'
                '^[a-zA-Z]+_[a-zA-Z]+_BirthDef|'
                '^[a-zA-Z]+_[a-zA-Z]+_Injury|'
                '^[a-zA-Z]+_[a-zA-Z]+_Cancer|'
                '^[a-zA-Z]+_[a-zA-Z]+_Homicide|'
                '^[a-zA-Z]+_[a-zA-Z]+_Suicide|'
                '^[a-zA-Z]+_[a-zA-Z]+_HeartDis|'
                '^[a-zA-Z]+_[a-zA-Z]+_HIV')
causes = causes.filter(regex = causes_regex)

In [112]:
demographics = demographics[['CHSI_County_Name', 'CHSI_State_Name', 'CHSI_State_Abbr', 'Population_Size']]

In [115]:
demographics.head()

  CHSI_County_Name CHSI_State_Name CHSI_State_Abbr  Population_Size
0          Autauga         Alabama              AL            48612
1          Baldwin         Alabama              AL           162586
2          Barbour         Alabama              AL            28414
3             Bibb         Alabama              AL            21516
4           Blount         Alabama              AL            55725

In [135]:
merged = causes.merge(demographics, on = ['CHSI_County_Name', 'CHSI_State_Name'], how = 'inner')
assert (merged['CHSI_State_Abbr_x'] == merged['CHSI_State_Abbr_y']).all()
merged['CHSI_State_Abbr'] = merged['CHSI_State_Abbr_x']
merged = merged.drop(['CHSI_State_Abbr_x', 'CHSI_State_Abbr_y'])